/* Header */

div#upper-link{
 background:$bBlue;
 border-bottom: 5px solid $bGrey;
 min-width:246px;
 ul{
    margin:0;
      padding:13px 7px;
   li{
    //  float:right;
     list-style:$nope;
     a{
       @include upperlink;
       &:hover{
         text-decoration:underline;
       }
     }
   }
 }
}

div#bottom-header{
margin-top:50px;

    .menu{
      color:white;
      background:$bBlue;
    }
}

.btn-collapse{

  background:$bBlue;
  width:100%;
  margin-top:15px;
}

div#navT{
 ul{
   margin-top:30px;

   }//ul


    li{
       list-style:none;
       font-size:20px;
       padding: 0 1.2%;
     a{
       color:$bBlue;
       text-transform:$upper;
       font-family:$verdana;
       &:hover{
         text-decoration:none;
       }
     }//a
   }

 }



div#logo{
  min-height:100px;

  img{
    position:absolute;
    z-index:6;
    top:-10px;

    height:170.5px;
    width:365px;

  }
}

.navbar-collapse{
  padding:0;
}


@media (max-width: 1199px){

    div#navT{
      ul{
        width:100%;
      }

     li{
       padding:0 0.7%;
       font-size:16px;

     }
   }
}//media

@media (max-width:992px){
  div#logo{
    img{
      top:-30px;
    }
  }


   div#navT{

    li{
      padding:0 1.0%;
      font-size:20px;

    }
  }
}//media

@media (min-width: 768px){
  .navbar-nav{
    float:none;
  }
  .navbar-nav>li>a {

    padding:0;
  }



}

@media (max-width: 767px){

  div#navT ul{
    width:100%;
    a{
       background:$bRed;
       color:white;
       &:hover{
         background:$bBlue;
       }
     }
  }

  .navbar-nav{
   margin:0;
  }
}


@media (max-width:744px){
  nav div.nav{

    li{
      padding:0 1%;
      font-size:18px;

    }
  }

}

@media(max-width:660px){

  div#logo{
    img{
      height:100%;
      width:100%;
      position:relative;
      top:0;

    }
  }
}//media

@media (max-width:320px){


  div#navT li{
    font-size:16px;
    padding: 0 2%;
    width:100%;
    a{
      width:100%;
    }
  }
}
